/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

/* TRANSITION */

a, 
.btn{
    transition: all 300ms ease;
}

/* DESTOP NAVIGATION */

nav, 
.nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: rgb(7, 211, 177); /*link text color*/
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset: .5rem;
    text-decoration-color: rgb(181, 181, 181);
    /* cursor: crosshair  PUT SOMETHING UNIQUE AND COOL HERE*/
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}


